
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Here is Title</title>
</head>
<body>
    <div>
        Here is Layout
    </div>

    <div> 
        @RenderBody()
    </div>
</body>
</html>
