
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .redText {
        color: red;
    }

    .blackText {
        color: black;
        font-weight: bold;
    }
</style>

<h4>To Do</h4>
<br />
<p>
    <del>Başlıklarda Arama Kutusu</del>
</p>
<p>
    <del>Yazar Görselleri</del>
</p>
<p>
    <del>Vitrin Teması</del>
</p>
<p>
    <del>Gelen Kutusunda Arama</del>
</p>
<p>
    <del>Hata Sayfası Layouttan Ayrılacak</del>
</p>
<p>
    <del>Sözlük ve Vitrin Ayrılacak</del>
</p>
<p>
    <del>Herhangi Bir Tablo Raporlanacak</del>
</p>
<p>
    Proje Dosyaları Sunucuya Taşınacak
</p>
<p>
    Alan Adı Alınacak
</p>
<p>
    Proje Canlıya Taşınacak
</p>
<p>
    Url'de ID yerine isim gelsin
</p>
<p>
    <del>IFrame Ekleme</del>
</p>
<p>
    <del>SweetAlert</del>
</p>
<p>
    Admin Çıkış Yap
</p>
<br />
<p class="blackText">Missings</p>
<span class="redText">Googler Charts: </span>&nbsp;<span class="blackText">Ders 94</span>
<br />
<span class="redText">Yetkilendirmeler: </span>&nbsp;<span class="blackText">Ders 96</span>